<div class="grid-container">
  <div class="heading__container" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{getStringLiterals.TITLE}}</h1>
    <h2>{{getStringLiterals.SUBTITLE}}</h2>
  </div>

  <div class="chip-list__container" fxLayout="row" fxLayoutAlign="center center">
    <mat-chip-list aria-label="">
      <mat-chip *ngFor="let currency of cryptoCurrencies">
        {{currency.displayName}}
        <mat-chip-avatar>
            <img [src]="currency.imgPath" [alt]="currency.imgAltText" class="chip-menu__image"/>
        </mat-chip-avatar>
        {{cryptoCurrencyFees[currency.name]}}
      </mat-chip>
    </mat-chip-list>
  </div>
  
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{card.content}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
