<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [ngClass]="{'hidden': !(isHandset$ | async)}">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Settings</a>
      <a mat-list-item href="#">Help</a>
      <a mat-list-item href="#">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CrypticFees</span>
      <nav class="navMenu"
      [ngClass]="{'hidden': (isHandset$ | async)}">
        <ul>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
